#blog-post main {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: left;
}

#blog-post main h3.page-title {
  font-size: 7vw;
  font-style: italic;
  color: var(--main-color3);
  margin: 0;
  text-align: left;
}

#blog-post main p.blog-date {
  font-size: 5vw;
  margin: 0.25rem 0 0 0;
  text-align: left;
}

#blog-post main img.blog-hero {
  height: 200px;
  object-fit: scale-down;
  margin: 2rem 0 1rem;
}

#blog-post main .post-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--main-color3);
  line-height: 1.5rem;
  text-align: left;
}

#blog-post main .post-content p {
  margin: 0.75rem 0 0.75rem;
}

#blog-post main .post-content p a {
  color: var(--main-color5);
}

#blog-post main .post-content p a:hover {
  color: var(--main-color4);
}

#blog-post main .post-content h4 {
  font-size: 5vw;
  color: var(--main-color6);
  text-decoration: underline;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

#blog-post main .post-content h5 {
  font-size: 3.5vw;
  color: var(--main-color6);
  text-decoration: underline;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}

#blog-post main .post-content code {
  color: var(--main-color7);
  background: var(--main-color6);
  padding: 0.25rem 0.25rem;
  margin: 0;
  white-space: nowrap;
}

.post-content blockquote {
  background: var(--main-color8);
  font-style: italic;
  padding: 0.5rem;
  color: var(--main-color2);
  display: inline-block;
  border-left: 5px solid var(--main-color6);
  margin: 0.5rem 1rem;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  #blog-post main h3.page-title {
    font-size: 42px;
  }
  #blog-post main p.blog-date {
    font-size: 30px;
  }
  #blog-post main .post-content h4 {
    font-size: 30px;
  }
  #blog-post main .post-content h5 {
    font-size: 21px;
  }
}
