/* set defaults */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*** colour variables */
:root {
  --light: #ee90ff;
  --lighter: #f2ceff;
  --lightest: #f1f1f1;

  --dark: #c76ad7;
  --darker: #c00dc0;
  --darkest: #342455;

  --default-gradient: linear-gradient(
    0deg,
    hsl(284deg 39% 56%) 0%,
    hsl(281deg 36% 53%) 11%,
    hsl(278deg 32% 50%) 22%,
    hsl(276deg 33% 47%) 33%,
    hsl(273deg 34% 44%) 44%,
    hsl(271deg 35% 42%) 56%,
    hsl(268deg 36% 39%) 67%,
    hsl(265deg 37% 36%) 78%,
    hsl(262deg 38% 33%) 89%,
    hsl(259deg 40% 31%) 100%
  );
}

:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: var(--lightest);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: var(--default-gradient);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/* header */
header {
  font-family: "Sansita", sans-serif;
  font-style: italic;
}

header > a {
  text-decoration: none;
}

.site-title {
  font-size: 15vw;
  margin: 0;
  color: var(--light);
  text-decoration: none;
}

.site-subtitle {
  font-size: 6vw;
  margin: -0.5rem 0 0 0;
  transition: margin 200ms ease-in-out, padding 200ms ease-in-out;
  color: var(--dark);
  text-decoration: none;
}

.logo-link:hover > .site-subtitle {
  margin-top: -0.75rem;
  padding-bottom: 0.25rem;
}

/* navigation */
.navigation ul {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 6vw;
  text-decoration: underline;
}

.navigation a {
  padding: 0 0.5rem;
  color: var(--light);
}

.navigation a:hover {
  color: var(--lighter);
  text-shadow: 0px 0px 10px rgba(201, 163, 216, 0.5);
}

img {
  max-width: 100%;
}

ul {
  list-style: square;
  color: var(--darker);
}

p > a {
  text-decoration: none;
  color: var(--light);
}

p > a:hover {
  color: var(--lighter);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--lighter);
  text-decoration: underline;
  margin: 2rem 0 0 0;
  padding: 0;
}

blockquote {
  background: var(--dark);
  font-style: italic;
  padding: 0.5rem;
  color: var(--main-color2);
  display: inline-block;
  border-left: 5px solid var(--main-color6);
  margin: 0.5rem 1rem;
}

code {
  color: var(--darker);
  background: var(--lighter);
  padding: 0.25rem 0.25rem;
  margin: 0;
  white-space: nowrap;
}

pre {
  color: var(--darker);
  background: var(--lighter);
  padding: 1rem;
  line-height: 1.5rem;
  display: inline-block;
}

.page-title {
  font-size: 10vw;
  margin: 0;
  text-align: center;
}

/* footer */
footer {
  margin-top: auto;
  padding: 1rem;
}

.tweetybird {
  font-style: normal;
  font-size: 4vw;
  margin: 6rem 0 2rem 0;
  line-height: 0;
  animation: tweeter 3s infinite;
  transform: rotate(45deg);
  display: inline-block;
}

/* chirping bird */
@keyframes tweeter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* scroll to top button */
.scrollToTopBtn {
  display: inline-block;
  background-color: var(--lighter);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 1;
}

.scrollToTopBtn::after {
  content: "\2303";
  font-weight: bold;
  font-style: normal;
  font-size: 35px;
  line-height: 67px;
  color: var(--dark);
  transition: all 0.25s ease-in-out;
}

.scrollToTopBtn:hover::after {
  color: var(--darkest);
}

.scrollToTopBtn:active {
  background-color: var(--dark);
}

.show {
  opacity: 1;
  visibility: visible;
}

/* background particles */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* media queries */
@media (min-width: 600px) {
  .site-title {
    font-size: 90px;
    margin: 0;
  }

  .site-subtitle {
    font-size: 36px;
  }

  .navigation ul {
    font-size: 36px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-title {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .tweetybird {
    font-size: 48px;
  }
}
