/*** SITE WIDE */
* {
  box-sizing: border-box;
}

/*** COLOUR VARIABLES */
:root {
  --main-color3: #f1f1f1;
  --main-color12: #f2ceff;
  --main-color1: #e3b7f3;
  --main-color5: #e8aeff;
  --main-color6: #ecbbff;
  --main-color10: #eca9f8;
  --main-color4: #de8aff;
  --main-color9: #e194ee;
  --main-color8: #c76ad7;
  --main-color7: #c00dc0;
  --main-color11: #342455;

  --default-gradient: linear-gradient(
    0deg,
    hsl(284deg 39% 56%) 0%,
    hsl(281deg 36% 53%) 11%,
    hsl(278deg 32% 50%) 22%,
    hsl(276deg 33% 47%) 33%,
    hsl(273deg 34% 44%) 44%,
    hsl(271deg 35% 42%) 56%,
    hsl(268deg 36% 39%) 67%,
    hsl(265deg 37% 36%) 78%,
    hsl(262deg 38% 33%) 89%,
    hsl(259deg 40% 31%) 100%
  );
}

:root {
  font-family: "Sansita", sans-serif;
  font-style: italic;
  text-align: center;
  height: 100%;
  color: var(--main-color1);
}

body {
  margin: 0;
  height: 100%;
  background-image: var(--default-gradient);
  background-attachment: fixed;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

header .site-title {
  font-size: 15vw;
  margin: 0;
}

header > a.logo-link {
  text-decoration: none;
}

header a.logo-link:hover > .site-subtitle {
  margin-top: -0.75rem;
  padding-bottom: 0.25rem;
}

header a .site-title {
  color: var(--main-color1);
  text-decoration: none;
}

header a .site-subtitle {
  color: var(--main-color8);
  font-size: 6vw;
  margin: -0.5rem 0 0 0;
  transition: margin 100ms ease-in-out, padding 100ms ease-in-out;
}

header nav.navigation ul {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 6vw;
}

header nav.navigation ul li a {
  color: var(--main-color9);
  background: none;
  transition: text-shadow 100ms ease-in-out;
}
header nav.navigation ul li a:hover {
  background: none;
  color: var(--main-color10);
  text-shadow: 0px 0px 10px rgba(201, 163, 216, 0.5);
}

main h3.page-title {
  font-style: normal;
  font-size: 7vw;
  margin-top: 0;
}

footer {
  margin-top: auto;
}

footer p.footer-tagline {
  font-size: 6vw;
  color: var(--main-color11);
  margin: 4rem 0 0;
}

@keyframes heartbeat {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
  50% {
    text-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
  }
  100% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
}

footer p .heart {
  padding-right: 0.4rem;
  animation: heartbeat 1s infinite;
}

footer p .technology-highlight {
  color: var(--main-color1);
  transition: opacity 3s ease-in-out;
  opacity: 1;
}

@keyframes tweeter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer span.tweetybird {
  font-style: normal;
  font-size: 4vw;
  margin: 4rem 0 2rem 0;
  animation: tweeter 3s infinite;
  transform: rotate(45deg);
  display: inline-block;
}

/* PARTICLES */
#canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  header a .site-title {
    font-size: 90px;
    margin: 0;
  }

  header a .site-subtitle {
    font-size: 36px;
  }

  header nav.navigation ul {
    font-size: 36px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  main h3.page-title {
    font-size: 70px;
  }
}

@media (min-width: 1200px) {
  footer span.tweetybird {
    font-size: 48px;
  }
}
