#home main.hero {
  margin: auto 0;
}

#home main.hero .hero-img {
  width: 40vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #e3b7f3;
  transition: box-shadow 500ms ease-out;
  margin-top: 3rem;
}

#home main.hero .hero-img:hover {
  box-shadow: 0px 0px 35px #e3b7f3;
}

#home main.hero h3 {
  font-size: 6vw;
  color: #e3b7f3;
  margin: 2rem 0 0 0;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  main.hero .hero-img {
    width: 240px;
  }
}

@media (min-width: 750px) {
  footer p.footer-tagline {
    font-size: 45px;
  }
}

@media (min-width: 900px) {
  main.hero h3 {
    font-size: 54px;
  }
}
