* {
}

:root {
  box-sizing: border-box;
  font-family: "Sansita", sans-serif;
  font-style: italic;
  text-align: center;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    hsl(284deg 39% 56%) 0%,
    hsl(281deg 36% 53%) 11%,
    hsl(278deg 32% 50%) 22%,
    hsl(276deg 33% 47%) 33%,
    hsl(273deg 34% 44%) 44%,
    hsl(271deg 35% 42%) 56%,
    hsl(268deg 36% 39%) 67%,
    hsl(265deg 37% 36%) 78%,
    hsl(262deg 38% 33%) 89%,
    hsl(259deg 40% 31%) 100%
  );
  background-attachment: fixed;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

header .site-title {
  font-size: 15vw;
  margin: 0;
}

header .site-title a {
  color: #e3b7f3;
  text-decoration: none;
}

header .site-subtitle {
  color: #c76ad7;
  font-size: 6vw;
  margin: -0.5rem 0 0 0;
}

header nav.navigation ul {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 6vw;
}

header nav.navigation ul li a {
  color: #e194ee;
  background: none;
  transition: text-shadow 100ms ease-in-out;
}
header nav.navigation ul li a:hover {
  background: none;
  color: #eca9f8;
  text-shadow: 0px 0px 10px rgba(201, 163, 216, 0.5);
}

main.hero {
  margin: auto 0;
}

main.hero .hero-img {
  width: 40vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #e3b7f3;
  transition: box-shadow 500ms ease-out;
  margin-top: 3rem;
}

main.hero .hero-img:hover {
  box-shadow: 0px 0px 35px #e3b7f3;
}

main.hero h3 {
  font-size: 6vw;
  color: #e3b7f3;
  margin: 2rem 0 0 0;
}

footer p.footer-tagline {
  font-size: 6vw;
  color: #342455;
  margin: 4rem 0 0;
}

.about footer,
.projects footer,
.blog footer {
  margin-top: auto;
}

@keyframes heartbeat {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
  50% {
    text-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
  }
  100% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
}

footer p .heart {
  padding-right: 0.4rem;
  animation: heartbeat 1s infinite;
}

footer p .technology-highlight {
  color: #e3b7f3;
  transition: opacity 3s ease-in-out;
  opacity: 1;
}

@keyframes tweeter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer span.tweetybird {
  font-style: normal;
  font-size: 4vw;
  margin: 4rem 0 2rem 0;
  animation: tweeter 3s infinite;
  transform: rotate(45deg);
  display: inline-block;
}

main .page-title {
  font-style: normal;
  font-size: 7vw;
}

/* PARTICLES */
#canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  header .site-title {
    font-size: 90px;
    margin: 0;
  }

  header .site-subtitle {
    font-size: 36px;
  }

  header nav.navigation ul {
    font-size: 36px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  main.hero .hero-img {
    width: 240px;
  }
}

@media (min-width: 750px) {
  footer p.footer-tagline {
    font-size: 45px;
  }
}

@media (min-width: 900px) {
  main.hero h3 {
    font-size: 54px;
  }
}

@media (min-width: 1200px) {
  footer span.tweetybird {
    font-size: 48px;
  }
}
