.posts {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  text-align: left;
  max-width: 750px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.posts-post:hover > .posts-details > .posts-title {
  color: var(--light);
  margin-left: 0.5rem;
}

.posts-post {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 1.5rem 0;
}

.posts-image {
  width: 25vw;
  height: 25vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.posts-details {
  margin-left: 1rem;
}

.posts-title {
  color: var(--lighter);
  text-decoration: underline;
  font-size: 4vw;
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  transition: margin 250ms ease-in-out;
}

.posts-date {
  color: var(--light);
  font-size: 2.5vw;
  margin: 0.25rem 0;
  font-style: italic;
  text-transform: capitalize;
}

.posts-excerpt {
  font-size: 3.25vw;
  color: var(--lighter);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 0.5rem;
}

@media (min-width: 700px) {
  .posts-title {
    font-size: 28px;
  }
  .posts-date {
    font-size: 18px;
  }
  .posts-excerpt {
    font-size: 23px;
  }
}
